body {
    color: rgb(51, 63, 72);
    background-color: rgba(230, 238, 236, 0.7);
    hyphens: manual;
    -webkit-font-smoothing: antialiased;
}

.cutive {
    font-family: 'Cutive Mono', 'Courier New', monospace;
}

.garamond {
    font-family: 'garamond-premier-pro-display', Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
    font-feature-settings: "dlig";
    font-variant-ligatures: discretionary-ligatures;
}

@media screen and (min-width: 100em) {
    .four {
        font-size: 4rem;
    }
}

#nolig {
    font-feature-settings: "dlig" 0;
    font-variant-ligatures: none;
}

a {
    color: inherit;
}

.sc {
    color: rgb(40, 87, 128);
  color: transparent;
  text-shadow: 0 0 rgb(40, 87, 128), .08em 0 0 #fff, 0 0, -.08em 0 0 #fff;
  /*  gradient background allows us to use css only & re-position it  */
  background: -webkit-linear-gradient(#999, #999) center 1.09em no-repeat;
  background: linear-gradient(#999, #999) center 1.09em no-repeat;
  /*  can precisely control size in relation to the text  */
  background-size: 100% 1px;
}

.hc:hover,
.al {
    color: rgb(72, 169, 197);
}

.animated {
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.dots {
    position: relative;
    display: inline-block;
}

.dots:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 80%;
    height: 8%;
    width: 100%;
    /*background: hsla(226, 65%, 35%, 0.2);*/
    background: url(../images/dots.svg) repeat;
    background-size: 4px 4px;
    text-decoration: none;
}

@media screen and (min-width: 48em) {
    .flex {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-between;
    }
    .mw45 {
        max-width:45%;
    }
    .dots:after {
        top: 90%;
        height: 20%;
    }
}
