body {
    color: rgb(51, 63, 72);
    background-color: rgba(230, 238, 236, 0.7);
    -webkit-hyphens: manual;
    -moz-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
}
.bc {
    color: rgba(51, 63, 72,.8)
}
.cutive {
    font-family: 'Courier New', Courier, monospace;
}
.garamond {
    font-family: 'garamond-premier-pro-display', Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
    -webkit-font-feature-settings: "dlig";
    font-feature-settings: "dlig";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    -webkit-font-smoothing: antialiased;
}
@media screen and (min-width: 100em) {
    .four {
        font-size: 3.25rem;
    }
}
#nolig {
    -webkit-font-feature-settings: "dlig" 0;
    font-feature-settings: "dlig" 0;
    -webkit-font-variant-ligatures: none;
    font-variant-ligatures: none;
}
a {
    color: inherit;
}
.sc {
    color: rgb(40, 87, 128);
}
.hc:hover,
.al {
    color: rgb(72, 169, 197);
}
.under {
    color: rgb(40, 87, 128);
    color: transparent;
    text-shadow: 0 0 rgb(40, 87, 128), .05em 0 0 rgb(237, 243, 241), 0 0, -.05em 0 0 rgb(237, 243, 241);
    background: -webkit-linear-gradient(rgb(40, 87, 128), rgb(40, 87, 128)) center .9em no-repeat;
    background: linear-gradient(rgb(40, 87, 128), rgb(40, 87, 128)) center .9em no-repeat;
    /*  can precisely control size in relation to the text  */
    background-size: 100% 1px;
}
.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
.dots {
    position: relative;
    display: inline-block;
}
.dots:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 80%;
    height: 8%;
    width: 100%;
    /*background: hsla(226, 65%, 35%, 0.2);*/
    background: url(../images/dots.svg) repeat;
    background-size: 4px 4px;
    text-decoration: none;
}
@media screen and (min-width: 48em) {
    .flex {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .mw45 {
        max-width: 45%;
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 45%;
        -ms-flex: 1 0 45%;
        flex: 1 0 45%;
    }
    .dots:after {
        top: 90%;
        height: 20%;
    }
}
