<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Patterns | A Design Practice</title>
    <link rel="canonical" href="http://wearepatterns.com">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet" href="/tachyons.css">

    <script src="https://use.typekit.net/ezg8bsf.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}

    </script>
</head>

<body class="bg-lightest-blue navy">
    <header class="mh3 mh4-ns mh5-l mt4 mt5-l">
        <p class="f6 lh-copy bc">
            Patterns -
            <br> {% if page.url == "/" %}
            <a class="mr1 mr3-ns link al hc" href="/"><span class="dn di-ns ">1.</span> About</a> <span class="black-20 ">/</span> {% else %}
            <a class="mr1 mr3-ns link hc" href="/"><span class="dn di-ns ">1.</span> About</a> <span class="black-20 ">/</span> {% endif %} {% if page.url == "/principles/" %}
            <a class="mh1 mh3-ns link al hc" href="/principles "><span class="dn di-ns ">2.</span> Principles</a> <span class="black-20 ">/</span> {% else %}
            <a class="mh1 mh3-ns link hc" href="/principles "><span class="dn di-ns ">2.</span> Principles</a> <span class="black-20 ">/</span> {% endif %} {% if page.url == "/library/" %}
            <a class="ml1 ml3-ns link al hc" href=" /library "><span class="dn di-ns ">3.</span> Library</a> {% else %}
            <a class="ml1 ml3-ns link hc" href=" /library "><span class="dn di-ns ">3.</span> Library</a> {% endif %}
        </p>
    </header>

    <main class="mh3 mh4-ns mh5-l mb5 mt5 mt6-l mw9 ">
        <h1 class="animated fadeIn f2 f2-ns f1-l four fw5 lh-title measure-narrow garamond ">{{ content }}</h1>
        <section class="mt4 mt5-l pt3 pt4-l f5 f4-l lh-copy bt b--black-10 bc ">
            <p class="pt3-l measure ">{{ page['secondary'] }}</p>
            <p class="pt3 pb3 bt bb b--black-05 measure ">Available for partnerships: <span class="dots ">{{ page['availability'] }}</span></p>
            e - <a class="link sc hc " href="mailto:{{ page['email'] }}">{{ page['email'] }}</a>
            <br> p - <a class="link sc hc " href="tel:{{ page['phone'] }} ">{{ page['phone'] }}</a>
        </section>
    </main>

    <footer class="mh3 mh4-ns mh5-l mb4 mb4-l mt4 mt7-l bt b--black-10">
        <p class="f6 lh-copy bc">
            <!--Made in Oklahoma <span class="dn di-ns">/</span><br class="dn-ns"> -->Built with <a class="link al" href="tachyons.io">Tachyons</a> / Powered by <a class="link al" href="siteleaf.net">Siteleaf</a></p>
    </footer>
</body>

</html>
