---
layout: default
---

<h1 class="f3 f2-ns f1-l four fw5 lh-title measure-narrow garamond ">{{ content }}</h1>
<section class="mt4 mt5-l pt3 pt4-l f5 f4-l lh-copy bt b--black-10 bc ">
        <p class="pt3-l measure ">{{ page['secondary'] }}</p>
        <p class="pt3 pb3 bt bb b--black-05 measure ">Available for partnerships: <span class="dots ">{{ page['availability'] }}</span></p>
        e - <a class="link sc hc " href="mailto:{{ page['email'] }}">{{ page['email'] }}</a>
        <br> p - <a class="link sc hc " href="tel:{{ page['phone'] }} ">{{ page['phone'] }}</a>
</section>
