<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Patterns | A Design Practice</title>
    <link rel="canonical" href="http://wearepatterns.com">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet" href="/tachyons.css">

    <script src="https://use.typekit.net/ezg8bsf.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}

    </script>
    <style>
        .newred {
            color: #cb4414;
        }
        
        .bg-newred {
            background: #cb4414;
        }

    </style>
    <!--&ctdot; &#8226;diamond &#9996;victory &#9759;down &#9997;writing w&#215; &#182; &times;-->
</head>

<body class="fw4 bg-blue" style="font-family:'p22-underground';">
    <header class="bg-near-white newred mv0 pv0">
        <p>&#9997;</p>
        <h1>{{ page['description'] }}</h1>
    </header>
    <main class="bg-newred white mv0 pv0">
        <p class="mv0 pv0">hi</p>
    </main>
    
    
    <!--
    <header class="bg-near-white newred">
        <p class="ml3 ml4-ns ml5-l pt3 pt5-l mt0 fw3 mb5 mb6-ns f2 f-subheadline-l lh-solid">&#9997;</p>
        <h1 class="pb5 pb5-l mh3 mh4-ns mh5-l mb0 f3 f1-l lh-title measure-narrow normal">{{ page['description'] }}</h1>
    </header>
    <main class="white" style="background-color:#cb4414;">
        <section class="bg-newred f5 f4-l lh-copy white">
            <p>hi</p>
        </section>

    </main>-->

</body>

</html>
