<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Patterns | A Design Practice</title>
    <link rel="canonical" href="http://wearepatterns.com">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet" href="/tachyons.css">

    <script src="https://use.typekit.net/ezg8bsf.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}

    </script>
</head>

<body class="whiiiite" style="color:#cb4414;font-family:'p22-underground';">
    <main class="mh3 mh4-ns mh5-l mb5 mt5 mw9 ">
        {{ content }}
    </main>
    
    <footer class="mh3 mh4-ns mh5-l mb4 mb4-l mt4 mt7-l bt b--black-10">
    <p class="f6 lh-copy"><!--Made in Oklahoma <span class="dn di-ns">/</span><br class="dn-ns"> -->Built with <a class="link al" href="tachyons.io">Tachyons</a> / Powered by <a class="link al" href="siteleaf.net">Siteleaf</a></p>
    </footer>
</body>

</html>