<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Patterns | A Design Practice</title>
    <link rel="canonical" href="http://wearepatterns.com">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet" href="/tachyons.css">

    <script src="https://use.typekit.net/ezg8bsf.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}

    </script>
    <style>

    </style>
</head>

<body class="fw4" style="color:#cb4414;font-family:'p22-underground';">

    <!--<main class="mh3 mh4-ns mh5-l mb5 mt5 mw9">-->
    <header class="mh3 mh4-ns mh5-l mt5-l mb4 pb5 bg-near-whitie">
        <p class="mt3 fw3 mb5 mb6-ns f1 f-subheadline-l lh-solid">&times;</p>
        <h1 class="f3 f2-ns f1-l lh-title measure-narrow normal" style="-webkit-hyphens: none;-moz-hyphens: none;hyphens: none;"><!--&ctdot; &#8226;diamond &#9996;victory &#9759;down &#9997;writing w&#215; &#182;-->{{ content }}</h1></header>
    <main class="white" style="background-color:#cb4414;">
        <section class="mt4 mt5-l pt3 pt4-l f5 f4-l lh-copy bt b--black-10 white" style="background-color:#cb4414;">
            <p class="pt3-l measure ">{{ page['secondary'] }}</p>
            <p class="pt3 pb3 bt bb b--black-05 measure ">Available for partnerships: <span class="dots ">{{ page['availability'] }}</span></p>
            e - <a class="link sc hc " href="mailto:{{ page['email'] }}">{{ page['email'] }}</a>
            <br> p - <a class="link sc hc " href="tel:{{ page['phone'] }} ">{{ page['phone'] }}!</a>
        </section>

    </main>

</body>

</html>
