---
layout: default
---

<h1 class="f3 f2-ns f1-l four fw5 lh-title measure-narrow garamond ">{{ page.title }}</h1>
<section class="mt4 mt4-l pt3 pt4-l f5 f4-l lh-copy bt b--black-10 bc mw9">
    <div class="fc mw8">
        {% if page.url == "/principles/" %}
        {% for principle in page.principles %}
        <div class="mt0-ns mb4 mw45">
            <h2 class="f5 f4-l normal">{{ principle.title }}</h2>
            <p class="mt1 mt3-ns measure">{{ principle.body }}</p>
        </div>
        {% endfor %}
        {% endif %}
        
        {% if page.url == "/library/" %}
        {% for entry in page.entries offset:1 %}
        <div class="mt0-ns mb4-ns pb4-ns bb-ns b--black-10 mw45">
            <h2 class="f5 f4-l normal">{{ entry.author }} -<br>
             <a class="link sc hc pb4" href="{{ entry.url}} ">{{ entry.title }}</a></h2>
             <p class="mt1 mt3-ns measure ">
                 {% if page.entries.image %}
                 <img class="w-100 " src="{{ entry.image}}" alt=" {{ entry.alt }}">
                 {% endif %}
                 {{ entry.excerpt }}
            </p>
        </div>
        {% endfor %}
        {% endif %}
        
        <!--
        {% for principle in page.principles %}
        <div class="mt0-ns mw45">
            <h2 class="f5 f4-l normal dots">{{ principle.title }}</h2>
            <p class="mt1 mt3-ns measure">{{ principle.body }}</p>
        </div>
        {% endfor %}
        --

        <!--
        {% for post in site.principles %}
        <div class="mt0-ns mw45">
            <h2 class="f5 f4-l normal dots">{{ post.title }}</h2>
            <p class="mt1 mt3-ns measure">{{ post.content }}</p>
        </div>
        {% endfor %}
        <div class="mt0-ns mw45">
            <h2 class="f5 f4-l normal dots">1. Clarity</h2>
            <p class="mt1 mt3-ns measure">Good design starts with good writing. Communicate clearly and the rest will follow.</p>
        </div>
        <div class="mt4 mt0-ns mw45">
            <h2 class="f5 f4-l normal dots">2. Accessibility</h2>
            <p class="mt1 mt3-ns measure">Design for everyone. Never sacrifice speed or usibility for aesthetics.</p>
        </div>
        <div class="mt4 mw45">
            <h2 class="f5 f4-l normal dots">3. Collaboration</h2>
            <p class="mt1 mt3-ns measure">We include our clients in our process as much as possible. We ask questions. We discuss and debate. Our best work happens when we do it together.</p>
        </div>-->
    </div>
</section>
