<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Patterns | A Design Practice</title>
    <link rel="canonical" href="http://wearepatterns.com">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/tachyons.css">
    
    <script src="https://use.typekit.net/ezg8bsf.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}

    </script>
    <style>
        .hover-blue:hover {
            color:#357edd;
        }
        .hover-green:hover {
            color:#41d69f;
        }
        .hover-hot-pink:hover {
            color:#d62288;
        }
    </style>
</head>

<body class="bg-black fw4 lh-copy" style="font-family:'p22-underground';">
    <header class="bg-black center fixed-l h-100-ns pb5 ph4 ph5-ns ph6-l white" style="-webkit-font-smoothing: antialiased;">
        <p class="f4 f2-ns mb4 mb5-ns mt0 pt4 pt5-ns pt5-l">&#9779;</p>
        <h1 class="bb f3 f2-ns f1-l lh-title measure-narrow normal mb4 mb5-ns pb4 pb5-ns">
            <span class="txtwav slow">Patterns</span> is the design studio of 
            <a class="hover-blue link white" href="https://twitter.com/tylernford" title="@tylernford">@tylernford</a>
            &amp; 
            <a class="hover-green link white" href="https://twitter.com/jrdn_hys" title="@jrdn_hys">@jrdn_hys</a>.
            Together we create honest and compelling identities, websites, and print materials.</h1>
            
        <div class="flex justify-start">
            <a class="b--green ba br2 f4-l fw5 green hover-bg-green hover-black link mr4 mt1 ph3 pt2 pb1" href="" title="Work with Us">
        Work with Us</a>
            <a class="black br-100 db h2 hover-green link mt2 pl2 w2" href="http://twitter.com/wearepatterns" title="Twitter">
            <svg data-icon="twitter" viewBox="0 0 32 32" style="stroke:#41d69f;fill:currentcolor;">
                <title>twitter icon</title>
                <path d="M2 4 C6 8 10 12 15 11 A6 6 0 0 1 22 4 A6 6 0 0 1 26 6 A8 8 0 0 0 31 4 A8 8 0 0 1 28 8 A8 8 0 0 0 32 7 A8 8 0 0 1 28 11 A18 18 0 0 1 10 30 A18 18 0 0 1 0 27 A12 12 0 0 0 8 24 A8 8 0 0 1 3 20 A8 8 0 0 0 6 19.5 A8 8 0 0 1 0 12 A8 8 0 0 0 3 13 A8 8 0 0 1 2 4"></path>
            </svg>
        </a>
        </div>
    </header>
    <script>(function(){var n=document.getElementsByClassName("txtwav");for(var e=0,t=n.length;e<t;e++){var a=n[e];var r=a.textContent.trim();a.innerHTML=null;i(a,r)}function i(n,e){for(var t in e){if(e[t]===" "){var a=document.createElement("span");a.innerHTML="&nbsp;";n.appendChild(a)}else{var a=document.createElement("span");a.innerHTML=e[t];n.appendChild(a)}}}})();</script>
</body>

</html>
