<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Patterns | A Design Practice</title>
    <link rel="canonical" href="http://wearepatterns.com">
    <link rel="icon" type="image/png" href="">
    <link rel="stylesheet" href="/tachyons.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/still-life-studios/txt.wav/6860ad7c4dac86b9e7b24945cca634492a835ecc/dist/css/txt.wav.css">


    <script src="https://use.typekit.net/ezg8bsf.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}
    </script>
    <style>
        #email {font-family: 'Input Mono', 'source-code-pro';}
        
        #email:hover {border-bottom: none;}
        
        .input-mono {font-family: 'Input Mono Self';}
        
        input {border-radius: 0;}

        @font-face {font-family: 'Input Mono Self';src: url(/InputMono-Regular.ttf);}
    </style>
</head>

<body class="fw4" style="font-family:'p22-underground';">
    <header class="h-100-ns w-50-l fixed-l fl-l ph3 ph4-ns ph5-l bg-black white" style="-webkit-font-smoothing: antialiased;">
        <p class="mt0 mb4 mb5-l pt4 pt5-l f3 f2-ns">&#9779;</p>
        <h1 class=""><span class="txtwav flip">Patterns</span> is the design practice of Tyler N. Ford & Jordan Hayes. Together we create honest and compelling identities, websites, and print materials.</h1>
        <p class="">
            <a class="link bb white" href="https:twitter.com/wearepatterns">@wearepatterns</a> <span class="mr4-l">&#8594;</span>
            <a class="link bb white" href="mailto:studio@wearepatterns.com">studio@wearepatterns.com</a> &#8594;
        </p>
    </header>
    
    <script src="https://cdn.rawgit.com/still-life-studios/txt.wav/6860ad7c4dac86b9e7b24945cca634492a835ecc/dist/js/txt.wav.min.js"></script>
</body>

</html>
