<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Patterns | A Design Practice</title>
    <link rel="canonical" href="http://wearepatterns.com">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet" href="/tachyons.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/still-life-studios/txt.wav/6860ad7c4dac86b9e7b24945cca634492a835ecc/dist/css/txt.wav.css">


    <script src="https://use.typekit.net/ezg8bsf.js"></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}
    </script>
    <style>
        #email {font-family: 'Input Mono', 'source-code-pro';}
        
        #email:hover {border-bottom: none;}
        
        .input-mono {font-family: 'Input Mono Self';}
        
        input {border-radius: 0;}

        @font-face {font-family: 'Input Mono Self';src: url(/InputMono-Regular.ttf);}
    </style>
</head>

<body class="fw4 bg-white" style="font-family:'p22-underground';">
    <header class="bg-black h-100-ns fixed-l fl-l white ph3 ph4-ns ph5-l w-50-l" style="-webkit-font-smoothing: antialiased;">
        <!--<img class="pt4 pt5-l mt0 mb4 mb5-l w2" src="/hand.svg">-->
        <p class="pt4 pt5-l mt0 mb4 mb5-l f3 f2-ns">&#9779;</p>
        <h1 class="pb5 pb0-ns mb0 f3 f2-ns lh-title measure-narrow normal"><span class="txtwav flip">Patterns</span> is the design practice of Tyler N. Ford & Jordan Hayes. Together we create honest and compelling identities, websites, and print materials.</h1>
        <p class="bt b--white mt4 pt4 f5 fw4 lh-copy">
            <a class="link bb white" id="email" href="https:twitter.com/wearepatterns">@wearepatterns</a> &#8594;
            <a class="link bb white f5 fw4 ml4-l" id="email" href="mailto:studio@wearepatterns.com">studio@wearepatterns.com</a> &#8594;
        </p>
    </header>
    <main class="fr-l w-50-l">
        <section class="bg-white black bb b--red ph3 ph4-ns ph5-l pb6 pb7-l f4 lh-copy">
            <h1 class="pt5 pt6-l pb4 mt0 f3 f2-ns f1-l normal lh-solid">Principles
            <br>&mdash;</h1>
            <div class="fw3" style="max-width:80rem;">
                <div class="mb5 measure-narrow-ns">
                    <h2 class="f4 fw3 normal lh-solid">01. Clarity</h2>
                    <p>Good design is good editing. Communicate clearly and the rest will follow</p>
                </div>
                <div class=" mb5 measure-narrow-ns">
                    <h3 class="f4 normal lh-solid">02. Accessibility</h3>
                    <p>Design for everyone. Never sacrifice speed or usibility for aesthetics.</p>
                </div>
                <div class="measure-narrow-ns">
                    <h4 class="f4 normal lh-solid">03. Collaboration</h4>
                    <p>We include our clients in our process as much as possible. We ask questions. We discuss and debate.</p>
                </div>
            </div>

            <div class="flex-ns flex-wrap-ns justify-between-ns pt4 pt6-l mt4 mt6-l bt b--black fw3" style="max-width:80rem;">
                <div class="ba measure-ns tc">
                    <div class="flex justify-center w-100">
                        <img class="pt4-ns w3 w4-l" src="/design.svg">
                    </div>
                    <!--<h2 class="mt4 f5 fw3 normal lh-title">Design</h2>-->
                    <p class="mv4 ph4-ns">Magic Johnson cornrows scrolling text Marky Mark. I believe I can fly nylon windbreaker West Wing chillin’ troll dolls irure.</p>
                </div>
                <div class="ba measure-ns tc">
                    <div class="flex justify-center w-100">
                        <img class="pt4-ns w3 w4-l" src="/code.svg">
                    </div>
                    <!--<h2 class="mt4 f5 fw3 normal lh-title">Design</h2>-->
                    <p class="mv4 ph4-ns">Magic Johnson cornrows scrolling text Marky Mark. I believe I can fly nylon windbreaker West Wing chillin’ troll dolls irure.</p>
                </div>
                <!--<div class="bg-white measure-ns tc">
                    <div class="flex justify-center w-100">
                        <img class="w3 w4-l" src="/code.svg">
                    </div>
                    <!--<h2 class="mt4 f5 fw3 normal lh-title">Code</h2>-->
                    <!--<p class="mt5 input-mono">Magic Johnson cornrows scrolling text Marky Mark. I believe I can fly nylon windbreaker West Wing chillin’ troll dolls irure.</p>
                </div>-->
            </div>
        </section>

        <section class="bg-white black ph3 ph4-ns ph5-l pb6 pb7-l f4 lh-copy">
            <h1 class="pt5 pt6-l pb0 pb4 mt0 f3 f2-ns f1-l normal lh-solid">Contact
            <br>&mdash;</h1>
            <div class="flex-ns justify-between-ns" style="max-width:80rem;">
                <div class="w-40-ns">
                    <p class="">Get in touch with a project inquiry or just to chat. We'd love to hear from you.</p>
                    <p class="f5 fw4 lh-copy dn-ns"><a class="link bb black" id="email" href="https:twitter.com/wearepatterns">@wearepatterns</a> &#8594;
                        <br>
                        <a class="link bb black f5 fw4" id="email" href="mailto:studio@wearepatterns.com">studio@wearepatterns.com</a> &#8594;</p>
                </div>

                <form class="pt3 w-40-ns f5 input-mono" action="//formspree.io/tylernford@gmail.com" method="POST">
                    <fieldset class="bb-0 bw1 b--black">
                        <input class="input-reset black pt3 w-100 bn" type="text" name="Name" placeholder="Full Name" validate-required>
                    </fieldset>
                    <fieldset class="bw1 b--black">
                        <input class="black pt3 w-100 bn" type="email" name="Email" placeholder="Email" validate-required validate-email>
                    </fieldset>
                    <fieldset class="m0 p0 bt-0 bw1 b--black">
                        <textarea class="black pt3 pb5 w-100 bn" style="resize: none;" name="Message" placeholder="Message" validate-required></textarea>
                    </fieldset>
                    <input style="margin-left:2px;" class="input-reset bg-transparent black ba bw1 b--black hover-bg-black hover-white pt3 ph3 pb3 mt2 tracked lh-solid pointer" type="submit" value="Send message &#8594;">
                    <input type="hidden" name="_next" value="../thanks.html" />
                </form>
            </div>
        </section>
    </main>
    
    <script src="https://cdn.rawgit.com/still-life-studios/txt.wav/6860ad7c4dac86b9e7b24945cca634492a835ecc/dist/js/txt.wav.min.js"></script>
</body>

</html>
